@import url('https://fonts.googleapis.com/css?family=Arvo');

/*TITLE*/

.title {
    background-image: url(../images/background.jpg);
    background-size: cover;
    text-align: center;
    padding: 25px 25px 0 25px;
}

.title p,
.title i {
    margin-top: 25px;
}

.title img {
    width: 50px;
    height: auto;
    margin: 0 20px 0 20px;
}

.title p {
    color: white;
}

.titleGraphic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 25px 0;
}

.titleBreakL {
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    height: 3px;
    border-radius: 15px;
    width: 100%;
}

.titleBreakR {
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    height: 3px;
    border-radius: 50px;
    width: 100%;
}

.social {
    display: flex;
    justify-content: center;
}

.tab {
    height: 0;
    width: 200px;
    border-bottom: 50px solid white;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    margin: auto;
}

.tab p {
    font-family: 'Arvo', serif;
    font-size: 1.5em;
    color: black;
    padding-top: 10px;
}


/*CONTENT*/

.content {
    margin: 50px 25px 0 25px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -25px;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.heading span {
    text-align: center;
    min-width: 200px;
}

.headingBreak {
    background-color: gray;
    height: 2px;
    border-radius: 15px;
    width: 100%;
}

.articleContainer {
    position: relative;
    margin: 25px 25px 0 0;
    width: 400px;
}

.image {
    position: relative;
}

.image img {
    width: 100%;
    height: auto;
}

.articleTitle {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px 0 0 10px;
    background-color: white;
    width: 85%;
}

.articleTitle h2 {
    font-family: 'Arvo', serif;
    font-size: 1.4em;
    margin: 0;
}

.articleTitle p {
    color: gray;
    text-align: right;
    margin: 0;
}

.summary {
    margin-top: 5px;
}


/*FOOTER*/

.footer {
    margin-top: 50px;
    text-align: center;
    color: gray;
}

.footer p {
    margin-top: 25px;
}


/*EVERYTHING ELSE*/

h1 {
    font-family: 'Arvo', serif;
    font-size: 3em;
    color: white;
    margin: 0;
    /*keep eye on this*/
}

i {
    color: white;
    margin: 0 25px 0 25px;
}

.articleContainer a {
    text-decoration: none;
    color: black;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

@media only screen and (min-width: 576px) {
    .title img {
        width: 100px;
    }
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {
    .title img {
        width: 150px;
    }
}

@media only screen and (min-width: 1200px) {
    .title img {
        width: 200px;
    }
}
